:root {
    --gray: #d6d6d6;
    --light-dark: #1c1b1b;
}

html {
    font-size: 130%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

body {
    -webkit-transition: 2s;
    transition: 2s;
    font-family: Centaur, Helvetica, sans-serif;
    line-height: 1;
    height: 100vh; 
    width: 100%;
    margin: 0;
    padding: 0;
    color: #fff;
    background-color: transparent;
    overflow: hidden;
}

*,
::after,
::before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

section {
    margin-top: 4.5rem
}

.center {
    text-align: center;
    padding: 1rem
}

h1 {
    color: #fff;
    margin-top: 0;
    margin-bottom: .5rem;
    font-size: 3rem;
    font-weight: 700;
    font-family: Lucida Calligraphy
}

img {
    width: 2rem
}

p {
    color: var(--gray);
    margin-top: 0;
    width: 15rem;
    margin: auto
}

i {
    color: #fff;
    margin: .9rem .3rem;
    font-size: 1.7rem;
    -webkit-transition: .3s;
    transition: .3s;
    -webkit-filter: drop-shadow(1px 2px 4px #3b3b3b);
    filter: drop-shadow(1px 2px 4px #3b3b3b)
}

i:hover {
    color: var(--gray);
    -webkit-filter: drop-shadow(0 0 .5rem #fff);
    filter: drop-shadow(0 0 .5rem #fff)
}

a {
    color: #fff
}

.countdown-box {
    padding: 10px;
    background-color: var(--light-dark);
    color: #fff;
    opacity: 1;
    font-weight: 600;
    -webkit-transition: opacity .6s;
    transition: opacity .6s;
    margin-bottom: 15px;
    text-align: center
}

#vid {
    position: absolute;
    width: auto;
    width: 100vw;
    height: 100vh;
    z-index: -69;
    object-fit: cover;
}

#enter {
    position: absolute;
    background-color: black;
    width: 100vw;
    height: 100vh;

    z-index: 1000000;
}

#enter h1 {
    font-family: Pristina, Helvetica, sans-serif;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
}

@media (min-width:800px) {
    section {
        margin-top: 18rem
    }
    .center {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
    }
    .text {
        text-align: center;
        padding: 20px;
        float: left
    }   
}
